<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}"/>
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        @media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }
        }
    </style>
</head>
<body>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center h-100">

            <div class="col-lg-6 col-xl-4 ">
                <form th:action="@{/user}" method="post">


                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="username">Email </label>
                        <input type="text" id="username" name="username" class="form-control "
                               placeholder="Enter a valid email address"/>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"
                               placeholder="Enter password"/>
                    </div>



                    <div class="text-center text-lg-end mt-4 pt-2">
                        <button type="submit" class="btn btn-outline-info "
                                style="padding-left: 2rem; padding-right: 2rem;">Login
                        </button>

                    </div>

                </form>
            </div>
        </div>
    </div>

</section>
</body>
</html>