<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Customer Page</title>
</head>
<body>
<div class="d-flex">

    <!-- /#sidebar-wrapper -->
<!--    <div th:replace="~{components/component :: sidebar}"></div>-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <!--       Navbar    -->
        <nav th:replace="~{components/component :: navbar}"></nav>

        <div class="container-fluid px-6">
            <h2 class="text-center">Customers</h2>

            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th colspan="2">
                        <a class="" th:href="@{/admin/customer/insertForm}">
                            insert
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer, iStat : ${customerPage.content}"
                    th:class="${iStat.odd}? 'odd-row' : 'even-row'">
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.name}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.phone}"></td>
                    <td th:text="${customer.address}"></td>
                    <td>
                        <a class="btn "
                           th:href="@{/admin/customer/showEdit/{id}(id=${customer.id})}">
                            <p>edit</p>
                        </a>
                    </td>
                    <td>
                        <a class="btn "
                           th:href="@{/admin/customer/delete/{id}(id=${customer.id})}">
                            <p>delete</p>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
            <nav th:replace="~{components/pagination :: pagination(${customerPage},${control},${pageNumbers})}"></nav>
            <div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{components/component :: bootom-script}"></div>
</body>
</html>