<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"
          rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>

<form class="m-3" th:action="@{/filter}" method="get">
    <label>Filter with role</label>
    <select name="role" class="form-select">
    <option th:each="role : ${roles}" th:value="${role.value}" th:text="${role.name()}"></option>
    </select>
    <button type="submit" class="btn btn-warning">Filter</button>
</form>
<table class="container table table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="candiate : ${candidates}">
        <td th:text="${candiate.fullName}"></td>
        <td th:text="${candiate.phone}"></td>
        <td th:text="${candiate.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>